@import "src/stylesheets/variables";

.Header {

  width: calc(100% - #{$header-padding * 2});
  background-color: $header-bg-color;
  padding: $header-padding;

  &__backButton {
    padding-left: $header-button-padding;
    padding-right: $header-button-padding;

    &:hover {
      background-color: $header-button-bg-color-hover;
    }
  }

  &__albumInput {
    width: $header-input-width;
    margin-left: 20px;
    font-family: "Roboto Light", sans-serif;
    font-size: 16px;
    padding: 5px 2px;
  }

  &__liked {
    position: absolute;
    right: 80px;
    top: 30px;
  }
}
