$album-card-size: 285px;

.AlbumCard {
  height: $album-card-size;
  width: $album-card-size;
  background-color: #212020;
  margin-right: 24px;
  margin-bottom: 24px;
  border-radius: 12px;
  text-align: center;
  line-height: 28px;

  &__mouseOver {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    height: $album-card-size;
    width: $album-card-size;
  }

  &__albumName {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 28px;

    &:hover {
      cursor: default;
    }
  }

  &__artist {
    font-size: 16px;
    font-weight: bold;

    &:hover {
      cursor: default;
    }
  }

  &__default {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 12px;
    height: $album-card-size;
    width: $album-card-size;
  }
}

.mat-none {
  background-color: transparent;
  color: white;
  box-shadow: none;
}
