@import "src/stylesheets/variables";

.AlbumCard {
  height: $album-card-size;
  width: $album-card-size;
  background-color: $album-card-bg-color;
  margin-right: $album-card-margin;
  margin-bottom: $album-card-margin;
  border-radius: $card-border-radius;
  text-align: center;
  line-height: 28px;

  &__mouseOver {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    height: $album-card-size;
    width: $album-card-size;
  }

  &__albumName {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 28px;
    padding: 0 5px;

    &:hover {
      cursor: default;
    }
  }

  &__artist {
    font-size: 16px;
    font-weight: bold;
    padding: 0 5px;

    &:hover {
      cursor: default;
    }
  }

  &__default {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: $card-border-radius;
    height: $album-card-size;
    width: $album-card-size;
  }
}

.mat-none {
  background-color: transparent;
  color: $text-color;
  box-shadow: none;
}
