<div class="AlbumCard" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">
  <div *ngIf="!mouseOnCard" class="AlbumCard__default" [ngStyle]="{'background-image': 'url(' + (albumData.image[3]['#text'] || defaultAlbumCover) + ')'}"></div>

  <div class="AlbumCard__mouseOver" *ngIf="mouseOnCard">
    <p class="AlbumCard__albumName">{{albumData.name}}</p>
    <p class="AlbumCard__artist">{{albumData.artist.name === undefined ? albumData.artist : albumData.artist.name}}</p>
    <button mat-fab color="none" (click)="onLiked()"><mat-icon>{{heartIcon}}</mat-icon></button>
  </div>
</div>
