$bg-color: #1A1919;
$card-border-radius: 12px;
$text-color: white;

$genre-card-width: 350px;
$genre-card-height: 225px;
$genre-card-margin: 22px;

$album-card-size: 285px;
$album-card-margin: 24px;
$album-card-bg-color: #212020;

$header-padding: 20px;
$header-bg-color: black;
$header-button-padding: 20px;
$header-button-bg-color-hover: #1A1919;
$header-input-width: 350px;

$page-not-found-padding: 30px;
$page-not-found-font-size: 50px;
