.GenreCard {

  &__card {
    width: 350px;
    height: 200px;
    border-radius: 12px;
    margin-left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      filter: saturate(150%) drop-shadow(0 0 16px #444444);
    }
  }

  &__link {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
  }
}
