@import "src/stylesheets/variables";

.GenreCard {

  &__card {
    width: $genre-card-width;
    height: $genre-card-height;
    border-radius: $card-border-radius;
    margin-left: $genre-card-margin;
    margin-bottom: $genre-card-margin;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      filter: saturate(150%) drop-shadow(0 0 16px #444444);
    }
  }

  &__link {
    text-decoration: none;
    color: $text-color;
    font-weight: bold;
    font-size: 20px;
  }
}
